<div class="login-container">

  <h1>Login</h1>


  <%= flash[:error] %>
  <%= form_tag login_path do %>

  <%= label_tag "Username/Email" %>
  <%= text_field_tag :login %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Login" %>

  <% end %>

</div>
