<div class="signup-container">

<h1 class="user-signup">Sign Up</h1>


<% if @user.errors.any? %>
<ol>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ol>
<% end %>

<%= form_for @user, :html => { :multipart => true } do |f| %>

<%= f.label :name, :class => "block" %>
<%= f.text_field :name, :class => "block" %>

<%= f.label :username, :class => "block" %>
<%= f.text_field :username, :class => "block" %>

<%= f.label :email, :class => "block" %>
<%= f.email_field :email, :class => "block" %>

<%= f.label "Profile Picture", :class => "block" %>
<%= f.file_field :image %>

<%= f.label :password, :class => "block" %>
<%= f.password_field :password, :class => "block" %>

<%= f.label :password_confirmation, :class => "block" %>
<%= f.password_field :password_confirmation, :class => "block" %>

<%= f.submit "Sign Up!", :class => "block btn btn-default" %>

<% end %>

</div>
