
<div class="container">

  <div class="profile">
    <h1 class="text-center"><%= @user.username %>'s Profile</h1>

    <%= image_tag @user.image, :class => "img-responsive img-thumbnail profile-image center-block"%>
    <% if @user == @current_user %><%= link_to "Edit Profile", edit_user_path %> <% end %>
    <h4 class="text-center">Name: <%= @user.name %></h1>
    <h4 class="text-center">Username: <%= @user.username %></h1>

  </div>



  <div class="user-customs">
    <h4>CUSTOMS</h4>
    <% unless @user.customs.empty? %>
    <% @user.customs.each do |custom| %>
    <a href="/customs/<%= custom.id %>">
    <div class="user-custom" style="background-image: url(<%= custom.image %>)">
    <h3><%= custom.name %></h3>
    <!-- <h6 style="font-size: 8px; display:inline;"><%= custom.toaster.model %></h6> -->
    <% if @user == @current_user %> <a href="/customs/<%= custom.id %>/edit" class="custom-edit">Edit</a> <% end %>
    </div>
    </a>
    <% end %>
    <% else %>
    <p><%= @user.username %> has no customs!</p>
    <% end %>
    <% if @user == @current_user %>
    <a href="/customs/new" style="display: block;">Add a New Custom Toaster to your Inventory!</a>
    <% end %>
  </div>
</div>
