<!DOCTYPE html>
<html>
  <head>
    <title>Toasty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <ul class="nav nav-pills nav-justified">
      <li class="nav item">
        <%= link_to "Home", root_path, :class => "nav-link" %>
      </li>
      <li class="nav item">
        <%= link_to "Toasters", toasters_path, :class => "nav-link" %>
      </li>
      <% if @current_user.present? %>

      <% if @current_user.admin? %>
      <li class="nav item">
        <%= link_to "All Users", users_path, :class => "nav-link" %>
      </li>
      <% end %>
      <li class="nav item">
        <%= link_to "Add A Toaster", new_toaster_path, :class => "nav-link" %>
      </li>

      <li role="presentation" class="dropdown nav item">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          <%= @current_user.username %> <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" style="width: 100%;">
          <li>
            <a href="<%= user_path(@current_user.id) %>" class="text-center"><img src="<%= @current_user.image %>" alt="" class="menu-image">View Profile</a>
          </li>
          <li>
            <a href="/users/<%= @current_user.id %>/favourites" class="text-center">Favourites</a>
          </li>
          <li>
            <%= link_to "Sign Out of #{@current_user.email}", logout_path, :class => "text-center", :method => "delete" %>
          </li>
        </ul>
      </li>
      <% else %> <!--- IF CURRENT USER PRESENT --->
      <li class="nav item">
        <%= link_to "Sign Up", new_user_path, :class => "nav-link" %>
      </li>
      <li class="nav item">
        <%= link_to "Sign In", login_path, :class => "nav-link" %>
      </li>
      <% end %> <!--- IF NO ONE IS LOGGED IN --->
    </ul>

    <%= yield %>


    <footer>
      <h6 class="text-right">Created by <a href="https://www.github.com/chriswillphoto">Christopher Nekich</a> 2017</h6>
    </footer>
  </body>
</html>
